*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
   
}
#perent{
    width: 100%;
    background-color: aqua;
    display: flex;
    padding: 10px ;
    gap: 25px;
    overflow: hidden;

}
 #perent h1{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;

    animation-name:TANUSH;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes TANUSH{
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-100%);
    }
}