*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#A{
    height: 5%;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    
;
}
#A h4{
     color: rgba(11, 10, 10, 0.907);
     font-weight: 100;
     font-family: gilroy-bold, sans-serif;
     font-size: 13px;
} 
#A h3{
    color: rgba(23, 20, 20, 0.964);
}
#img{
    display: flex;
    flex-direction: column;
}
#img h4{
    text-align: center;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: gilroy-bold, sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: rgb(24, 22, 22);
}
#img b{
color: royalblue;    
}
#img h1{
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: gilroy-bold, sans-serif;
    font-size: 55px;
    font-weight: 500%;
    color: rgb(10, 8, 8);
}
#img h2{
    text-align: center;
    font-size: 40%;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: gilroy-bold, sans-serif;
    font-size: 27px;
    font-weight: 300;
    color: rgb(15, 13, 13);
}
#img button{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);  
    text-align: center; 
    font-size: 19px;
    border-radius: 25px;
    color: whitesmoke;
    background-color: royalblue;
    border-color: royalblue;
    padding: 10px 15px;
    font-family: gilroy-bold, sans-serif;
}
#photo{
    display: flex;
    flex-direction: column;
}
#photo h1{
    position: absolute;
    top: 137%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: gilroy-bold, sans-serif;
    font-size: 55px;
    text-align: center;
    font-weight: 500%;
}
#photo h2{
    position: absolute;
    top: 143%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: gilroy-bold, sans-serif;
    font-size: 27px;
    font-weight: 300;
}
.button{
    position: absolute;
    top: 150%;
    left: 50%;
    transform:translate(-50%,-50%);
    gap:15px;

}
.blue-button{
     gap: 35px;
     background-color: royalblue;
     border-color: royalblue;
     color: whitesmoke;
     border-radius: 25px;
     font-family: gilroy-bold, sans-serif;
     font-size: 19px;
     text-align: center;
     padding: 10px 15px;
    }
.white-button{
    gap: 35px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    color:royalblue;
    border-radius: 25px;
    font-family: gilroy-bold, sans-serif;
    font-size: 19px;
    text-align: center;
    padding: 10px 15px;
   }
   #photo1 {
    display: flex;
    flex-direction: column;
   }
   #photo1 h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 249%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 55px;
    text-align: center;
    font-family: gilroy-bold, sans-serif;
    font-weight: 500%;
   }
   #photo1 h2{
    text-align: center;
    position: absolute;
    top: 256%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: gilroy-bold, sans-serif;
    font-size: 27px;
    font-weight: 300;
   }
   .button1{
    display: flex;
    gap: 15px;
    position: absolute;
    top: 263%;
    left: 50%;
    transform: translate(-50%,-50%);
   }
   #photo2{
    display: flex;
    height: 100%;
    width: 100%;
   }
   #photo3{
    display: flex;
    height: 100%;
    width: 100%;
   }
   #photo4{
    display: flex;
    height: 100%;
    width: 100%;
   }