*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main,section{
    height: 100%;
    width: 100%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center ;
    gap: 15px;
    font-family:Arial, Helvetica, sans-serif ;
}