*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
}
body{
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAJQBCQMBIgACEQEDEQH/xAAaAAADAQEBAQAAAAAAAAAAAAAAAQIDBAUH/8QAJhABAQACAQMEAgIDAAAAAAAAAAECESEDMWESQVGBE5Fx8CLB4f/EABUBAQEAAAAAAAAAAAAAAAAAAAAB/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A+LQyhinFRKoCoqJioI0xa4sca1xoN8Lw6Onfa1yYd2+HYHZ08+edfbp6eU4cOGfHPdvhl5B6XSzdvS6uu1ryOn1Ne/26cOqD2MOt5azrcvJw6zWdbyI9P8189vlN6/PN493B+X7+xl1r7ZXYOrPqzXN47633c/Vz3ubnzr5YZdX2tsl+b3ZZdWXi5c/z/fANOpn5vHx/fnTmz6nFkt+0557/ANMM8/n+PkVPUy435+XL1Mt/peeV576YZZAjLvtzZ3c9/dtnlz9ubO6gIyy9md8HlUWgnJnV2ooJqVVN7AVSdIGpkYpnCMFSqiYcEaYtMaxi5Qb41rjk5sa0xoOrHJthlw5Ma1xyB2YZ+W2GflxY5Nccwd2PUaTq8f8AHFjmqdTyDt/J5T+Vy/kL18836B1Xqftln1d8W73352xvUkvdGXU4s3rwDTPqe3t8Mcs+82zyz9uNIufkDzvzf2xysk49/kXLn4+Wdsnnjv8AAJzy7b7aY53urLLnfDLKgmoyO1FArUnU0CqafsVBNI72IGpkcAzTDgq4cRFQRUVKiKgLlaSsZV40G+OTSZMIuUHRjk0mTmmS5kDpmZzNzzJXqB0XMevy5/V5heoG+WbO5MrmLlwCrki5JtRcgV6v8rP2zyyK5ItAsqztGVTaAtRadvCQKpp2poBNNN7gVI6QNgRgZwgKoQocBU7HC2YilSohwGkq5WUqtg1lVMmUyOUGsyVcmPqPYNvUPUx9QmQNLkVyRbwm0F3LaLknabkCssmdotTaAtKlaQC1PuL3ICpUFaBJplQKkZA1MtmKZpOAZkAUpB7A9ql5QoRW1So2ewabPbPZ7Bez9TPY2DTZbR6hsFXIbRsvUC9ptTanYKtTstlsDpbIgFGwVAiotK0CAICpHSBqcLZgYIxThphgYLY2CzRD2CtjaTgitnKi0bBextGzBWy2RbBVqbS2KB7K0ioKIgBkCtArStFLuAtIUAVLZ2kBAAGg2QBUppOAZkBTGyAKBAFDZAQzidnAMEAMtgAARAY2RAYIAaaaQAoKgKQKgCAAEACzTswM0mBnEgFAgCgQ2BgtjYKgKAD2CGwURbGwMhS2BgtjYDY2VAAFsACoKgNkAAIyAAADMgCgk4Bw07GwUCAGCAKCdmByntMAK2NpAK2NpAHbCAAAEB0FaWwMgQAAAAQAAAAAAMAABAABkACgAAAAFAAOGAAAABOwAGxsABDAAqRAAYAAgAAAAAAAAAf/2Q==);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    /*display: flex;
    background: black;*/
}
#BOX{
    background-color:rgb(3, 79, 254);
    height:20%;
    width: 100%;
    padding-top: 30px;
    border-radius: 10px;
    border: 5px solid whitesmoke;
    font-weight: 1000;
    padding-bottom: 50px;
}
#BOX h3{
    margin-top: 6px;
    font-family: Arial, Helvetica, sans-serif;
}
#box1{
    background-color: skyblue;
    height:18%;
    width: 90%;
    top: 33%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border: 3px solid whitesmoke;
    padding-top: 15px;
    font-weight: 1000;
    border-radius: 10px;
    
}
#box1 h3{
    margin-top: 10px;
}
#box2{
    background-color: lightsalmon;
    height: 25%;
    width: 90%;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border: 3px solid whitesmoke;
    padding-top: 15px;
    border-radius: 10px;
}
.card{
    height: 25%;
    width: 70%;
    background-color:whitesmoke;
    top: 43%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 10px;
    border: solid 2px black;
}
.card h3{
    padding-top: 8px;
}

.card1{
    height: 25%;
    width: 70%;
    background-color:whitesmoke;
    top: 73%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 10px;
    border: solid 2px black;
}

.card1 h3{
    padding-top: 8px;
}

#box3{
    background-color:rgb(255, 106, 0);
    height: 40%;
    width: 90%;
    top: 99%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border: 3px solid whitesmoke;
    padding-top: 15px;
    border-radius: 10px;
}

.card2{
    height: 20%;
    width: 70%;
    background-color:whitesmoke;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 10px;
    border: solid 2px black;
}
.card2 h3{
    padding-top: 15px;
}


.card3{
    height: 20%;
    width: 70%;
    background-color:whitesmoke;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 10px;
    border: solid 2px black;
}
.card3 h3{
    padding-top: 15px;
}

.card4{
    height: 20%;
    width: 70%;
    background-color:whitesmoke;
    top: 81%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 10px;
    border: solid 2px black;
}
.card4 h3{
    padding-top: 15px;
}


#box4 { 
    background-color:rgb(218, 187, 107);
    height: 40%;
    width: 90%;
    top: 145%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border: 3px solid whitesmoke;
    padding-top: 15px;
    border-radius: 10px;
}

.card5{
    height: 20%;
    width: 70%;
    background-color:whitesmoke;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 10px;
    border: solid 2px black;
}
.card5 h3{
    padding-top: 15px;
}

.card6{
    height: 20%;
    width: 70%;
    background-color:whitesmoke;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 10px;
    border: solid 2px black;
}
.card6 h3{
    padding-top: 15px;
}

.card7{
    height: 20%;
    width: 70%;
    background-color:whitesmoke;
    top: 81%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 10px;
    border: solid 2px black;
}
.card7 h3{
    padding-top: 15px;
}


#box5 {
    background-color:rgb(126, 252, 0);
    height: 40%;
    width: 90%;
    top: 192%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border: 3px solid whitesmoke;
    padding-top: 15px;
    border-radius: 10px;
}

.card8{
    height: 20%;
    width: 50%;
    background-color:whitesmoke;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 10px;
    border: solid 2px black;
}

.card8 h3{
    padding-top: 15px;
}

.card9{
    height: 20%;
    width: 50%;
    background-color:whitesmoke;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 10px;
    border: solid 2px black;
}

.card9 h3{
    padding-top: 15px;
}

.card10{
    height: 20%;
    width: 50%;
    background-color:whitesmoke;
    top: 81%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 10px;
    border: solid 2px black;
}

.card10 h3{
    padding-top: 15px;
}
button{
    size: 10px;
    padding: 10px;
    font-weight: 300;
    border-radius: 10px;
    margin-top: 99%;
    color:black;
    background-color:whitesmoke;
}